@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

:root {
    /*Cores*/
    --background-principal: #000000;
    --cor-texto: #ffffff;
    --gradiente-desktop: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;

    /*Fontes*/
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Onest', sans-serif;
}

body {
    background-color: var(--background-principal);
    overflow: hidden;
}

.netflix-logo {
    position: absolute;
    height: 50px;
    top: 20px;
    left: 120px;
    z-index: 5;
    cursor: pointer;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
    background: var(--gradiente-desktop);
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 2;
}

.conteudo .logo {
    background-image: url("../img/yuyu-hakusho-logo.png");
    background-size: cover;
    height: 100px;
    width: 280px;
    margin-bottom: 35px;
}

.conteudo .nome-personagem {
    color: var(--cor-texto);
    font-size: 40px;
    font-family: var(--fonte-principal);
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    line-height: 24px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 180px;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: var(--background-principal);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.botoes .botao:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px #D9D9D9;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.3);
    box-shadow: 0 0 10px #D9D9D9;
}

footer {
    font-family: var(--fonte-principal);
    font-size: 8px;
    color: var(--cor-texto);
    position: fixed;
    bottom: 20px;
    left: 120px;
    z-index: 2;
}